---
import Mark from './Mark.astro';
---
<footer>
  <div class="wrap">
    <div class="foot-in">
      <div class="foot-brand">
        <a class="logo" href="/"><Mark /><span class="wm">701<span class="am">am</span></span></a>
        <div class="tl">Earned media for Higher&nbsp;Ed.</div>
      </div>
      <div class="foot-cols">
        <div class="foot-col">
          <h5>Who we serve</h5>
          <a href="/universities">Universities</a>
          <a href="/edtech">Edtech &amp; OPMs</a>
          <a href="/agencies">Agencies</a>
        </div>
        <div class="foot-col">
          <h5>Product</h5>
          <a href="/#how">How it works</a>
          <a href="/#autopilot">Autopilot</a>
          <a href="/#pricing">Pricing</a>
        </div>
        <div class="foot-col">
          <h5>Read</h5>
          <a href="/blog">Founder Notes</a>
          <a href="/rss.xml">RSS</a>
        </div>
        <div class="foot-col">
          <h5>Office</h5>
          <a class="js-soon">About</a>
          <a class="js-soon">Contact</a>
        </div>
      </div>
    </div>
    <div class="foot-bottom">
      <span class="fmono">© 2026 701am · filed at sunrise, in perpetuity</span>
      <span>The earned-media engine for higher education.</span>
    </div>
  </div>
</footer>
